@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<h1 class="p-3">@ViewData["Title"]</h1>

<div class="d-flex">
    <div>
        <h4 class="w-75 p-3">
            Elite K9 is a dog focused company ready to give your K9 pet the education they deserve. 
            We are making an impact across the region, the nation and around the world. 
            As the top largest dog training platform in your local area* Elite K9 has nearly 
            43,000 dogs enrolled in over 30+ states.
        </h4>
    </div>

    <div class="shadow-lg">
        <img class="rounded" src="~/assets/img/manAndDog.jpg" alt="Family playing with dog." />
    </div>
</div>

