@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <img class="d-flex w-100" src="/assets/img/hero.png" />
</div>




<div class="d-flex mt-5">
    <div class="justify-content-center">
        <h2 class="w-75 p-3 ">
            Give your dog the education it deserves!
        </h2>
    </div>

    <div>
       <ul>
           <li><h4>Get training for essential and niche skill sets.</h4></li>
           <li><h4>We teach at your K9's' pace.</h4></li>
           <li><h4>Gain access to our elite community of trainers from around the nation.</h4></li>
           <li><h4>Any K9 any skill policy.*</h4></li>
       </ul>
    </div>
</div>

<div style="background-color: #bdbfc1;">
    <div>
        <h4 class="text-center">Featured In:</h4>
        <img class="d-flex w-100" src="/assets/img/featured.png" />
    </div>
</div>

<div class="text-center">
    <div>
        <h4>Why K9 Owners Love Us</h4>
        <p>
            Whether it's a simple trick like rolling over, 
            or firm handshake we will sharpen the skills of your K9!
        </p>
    </div>

    <div>
        <h4>"Thanks to ELITE K9 my dog went from sitting on the couch napping all day to 
            guarding our home and playing fetch."</h4>
        <p>
            -Clarance W, ELITE K9 Customer
        </p>
    </div>

    <div>
        <h4>
            "I couldn't have spent my money any better, my pup has never been so active! 
            Even my father started taking a liking to him, and he was NOT a dog person."</h4>
        <p>
            -Susan R, ELITE K9 Customer
        </p>
    </div>

     <div>
        <h4>"Great product."</h4>
        <p>
            -John L, ELITE K9 Customer
        </p>
    </div>
</div>

<div class="text-center" style="background-color: #bdbfc1; padding: 50px 0;">
    <h4>Get Started Now</h4>
    <button>Let's Go!</button>
</div>


